@import "/home/zus/.config/waybar/color-scheme.css";

/* 
 * Common configuration
 */
* {
  font-family: FontAwesome, DejaVu Sans Mono, monospace, sans-serif;
  font-size: 14px;
  border: none;
}

button:hover {
  background: @base01;
  color: @base06;
  border: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

label:focus {
  background-color: @base00;
}

@keyframes blink {
  to {
    color: @base08;
  }
}

/*
 * Waybar tooltips
 */
tooltip {
  color: @base05;
  background-color: @base01;
  text-shadow: none;
  border-radius: 10px;
  opacity: 0.95;
}

tooltip * {
  color: @base05;
}

/*
 * Waybar window
 */
window#waybar {
  background-color: @base00;
  color: @base05;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#window {
  margin: 0;
}

/*
 * Common widget configuration
 */
#backlight,
#clock,
#cpu,
#custom-media,
#disk,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray {
  padding: 0 9px;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#disk,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray {
  border-radius: 15px;
}

#backlight,
#battery,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray {
  color: @base05;
}

/*
 * Battery
 */
#battery {
  padding: 0 6px;
}

#battery.warning {
  color: @base0A;
}

#battery.critical {
  color: @base08;
}

#battery.critical:not(.charging) {
  color: @base0A;
  background-color: @base08;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
 * Clock
 */
#clock {
  color: @base0D;
}

/*
 * Custom
 */
#custom-media {
  color: @base00;
  background-color: @base0D;
  min-width: 100px;
}

#custom-media.custom-spotify {
  color: @base00;
  background-color: #66cc99;
}

/*
 * Inhibitor
 */
#idle_inhibitor {
  padding: 0 6px;
  border-radius: 15px;
  font-size: 17px;
}

#idle_inhibitor.activated {
  color: @base00;
  background-color: @base0D;
}

/*
 * Keyboard state
 */
#keyboard-state {
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

/*
 * Language
 */
#language {
  padding: 0 7px;
  margin: 0 5px;
  min-width: 16px;
}

/*
 * Mode
 */
#mode {
  background-color: @base00;
  color: @base05;
}

/*
 * MPD
 */
#mpd.disconnected {
  color: @base0A;
}

/*
 * Network
 */
#network {
  padding: 0 7px;
}

#network.disconnected {
  color: @base08;
}

/*
 * Temperature
 */
#temperature.critical {
  color: @base08;
}

/*
 * Tray
 */
#tray {
  border-radius: 15px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @base0A;
}

/*
 * Workspaces
 */
#workspaces {
  margin: 0 4px;
}

#workspaces button {
  padding: 0 7px;
  background-color: transparent;
  color: @base05;
  border: none;
  border-radius: 15px;
}

#workspaces button#sway-workspace-1 {
  padding: 0 6px;
}

#workspaces button#sway-workspace-2 {
  padding: 0 6px;
}

#workspaces button#sway-workspace-3 {
  padding: 0 7px;
}

#workspaces button#sway-workspace-4 {
  padding: 0 7px;
}

#workspaces button#sway-workspace-5 {
  padding: 0 7px;
}

#workspaces button:hover {
  background: @base01;
  color: @base06;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: @base0D;
  color: @base00;
}

#workspaces button.urgent {
  background-color: @base0A;
  color: @base00;
}

#workspaces button:nth-child(3) {
  padding: 0 6px;
}

#workspaces button label {
  font-size: 17px;
}

#workspaces button:nth-child(1) label {
  font-weight: bold;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
